:local(.project_details){
  padding: 2em;
  width: 100%;
}
:local(.project_details h1),
:local(.project_details h2),
:local(.project_details p){
  margin-bottom: .5em;
}
:local(.project_details h1){
  background-color: #222;
  color: #ffbb33;
  padding: .4em;
}
:local(.project_details span){
  font-weight: bold;
}
:local(.details_container),
:local(.service_form_container){
  border-bottom: 1px solid #7a7a7a;
  margin-bottom: 1.2em;
  padding-bottom: 1.2em;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  
}
:local(.btn){
  background-color: #222;
  color: #fff;
  padding: .5em 1em;
  text-decoration: none;
  transition: .3s;
  cursor: pointer;
  max-height: 40px;
  border: none;
}
:local(.btn:hover){
  background-color: #ffbb33;
  color: #222;
}
:local(.project_info){
  width: 100%;
}